DATABASE_URL=postgresql://kuber:kuber_dev@localhost:5433/kuber_db
JWT_SECRET=change_me_in_production
JWT_REFRESH_SECRET=change_me_in_production_refresh
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
